
ul.tree, ul.tree ul {
  list-style: none;
  margin: 0 !important;
  padding-left: 20px !important;
  font-weight: normal;
  font-size: 100% !important;
  background-color: #DDEEFF;
  color: black;
}

ul.tree {
	/*width: 16em;*/
	padding-left: 0 !important;
}

ul.tree li {
  margin-left: 17px !important;
}
ul.tree > li {
	margin-left: 0 !important;
}
li.tree-parent {
  /*font-weight: bold;*/
  margin-left: 0px;
}

img.headerImg {
  margin-right: 5px;
}

li.tree-focus {
  color: white;
  background: black;
}