body {
	margin:0px;
	padding:0px;
	font-family: "Verdana, sans-serif";
	background: url(img/banner-bg.2.png) top repeat-x;
	color: #000;
}

.auralText, caption {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}

#skipNav a {
  display: inline !important;
  height: 1px !important;
  left: 0;
  overflow: hidden !important;
  padding: 0 !important;
  position: fixed !important;
  top: 0 !important;
  width: 1px !important;
}

#skipNav a:focus, #skipNav a:active {
  background: none repeat scroll 0 0 #0077B5;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-color: #000000;
  border-style: solid;
  border-width: 0 1px 1px;
  box-shadow: 0 0 10px #000000;
  color: #FFFFFF;
  font-size: 300%;
  height: auto !important;
  left: 10px !important;
  outline: medium none;
  padding: 6px 10px !important;
  position: fixed !important;
  text-decoration: none;
  top: 0 !important;
  vertical-align: middle;
  width: auto !important;
  z-index: 200000;
}

div#pageContent {
	margin: 0px auto 0px auto;
	max-width: 1200px;
}

div#notifications {
	background-color: #fff0f0;
	color: black;
	display:block;
	width:100%;
	height: auto;
	padding:0px;
	margin:0px;
}
div#notificationsBorder {
	margin-top:0px;
	padding-top:0px;
	border:2px solid red;
	background-color: #ffeeee;
	height:auto;
}

div#notifications ul {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 18px;
	background-color: #ffeeee;
	height:auto;
}

div#notifications li {
	margin-bottom:6px;
	border-top:1px solid red;
	height:auto;
}

div#notifications li:first-child {
	border-top:none;
}

div#notifications span {
	display:block;
	width:80%;
	float:left;
}

div#notifications a {
	float:right;
	padding-right:3px;
}

div#banner div{
	height:52px;
	position:relative;
}

img#bigIU {
	position:absolute;
	top:0px;
	left:0px;
	margin:0px 0px 0px 10px;
	padding:0px;
}

#banner p.UITS {
	color: #fff;
	font-size: 14px;
	letter-spacing: .3em;
	position: absolute;
	margin: 0px;
	padding:0px;
	top:22px;
	left:85px;
}

#banner p {
	font-weight:normal;
	font-size:28px;
	color:#332D22;
	padding:5px 0px 0px 85px;
  margin:0px;
	position: relative;
	top:0px;
}

h1 {
	margin-bottom:0px;
	padding:0px;
	font-size: 26px;
}

h1 span {
	font-size: 18px;
}

h2 {
	margin-bottom:0;
	font-size: 22px;
}

.sectionContent p, .sectionContent ul {
	margin:0px;
}

#dateNav {
  margin-top:10px;
}

#dateNav input {
  margin-right:5px;
}

#chooseType input, p#declareNoEntries {
  margin-left:15px;
}

ul.clientList {
	list-style-type:none;
	border:thin solid black;
	margin:3px;
	padding:3px;
	min-height:18px;
}

ul.clientList li {
	display: inline;
	border:thin dotted #555;
	margin:2px 5px 2px 2px;
	white-space: nowrap;
}

ul.clientList li:after {
	content:", ";
}

ul.clientList li:last-child:after {
	content:"";
}

fieldset {
	width:95%;
}

#consultNotes {
	width:95%;
}

table {
	border:thin solid black;
	border-collapse:collapse;
}

th, td {
	border:thin solid black;
	margin:0px;
	padding:3px;
}

textarea:focus, input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus, select:focus {
	background-color:#ffffdd;
	outline: 2px #aaaaff solid;
}
input[type=checkbox]:focus, input[type=radio]:focus {
	background-color:#ffffdd;
	border: 1px #ffffdd solid;
	outline: 2.5px #9999ff solid;
}

.highlightYellow {
	background-color:yellow;
}