#W15yToolbarButton {
   list-style-image: url("chrome://W15yQC/skin/W15yQC52x16.png");
   cursor: pointer;
}
#W15yToolbarPaletteButton {
   list-style-image: url("chrome://W15yQC/skin/W15yQC52x16.png");
   cursor: pointer;
}

treechildren::-moz-tree-row(failed){
  background-color:#ff7b7b;
}

treechildren::-moz-tree-row(warning) {
  background-color: #ffc900;
}

treechildren::-moz-tree-cell-text(selected){
  font-weight: 500;
}

treechildren::-moz-tree-row(failed, selected){
  background-color:#8A4343;
}

treechildren::-moz-tree-row(warning, selected) {
  background-color: #6b5600;
}

treechildren::-moz-tree-cell(center) {
  text-align:center;
}