@font-face {
    font-family: 'PTSansRegular';
    src: url('../fonts/ptsans/PTS55F-webfont.eot');
    src: url('../fonts/ptsans/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ptsans/PTS55F-webfont.woff') format('woff'),
         url('../fonts/ptsans/PTS55F-webfont.ttf') format('truetype'),
         url('../fonts/ptsans/PTS55F-webfont.svg#PTSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@media all{
body{
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.6em;
	color: #333;
	background-color: #ffffff;
	overflow-x:hidden;
	}
a{
	text-decoration: none;
	color: #7d110c;
	color: #990000;
	}
a:hover{
	text-decoration: underline;
	}
img{
	border: 0;
	}
/* ----------------------- VISUAL IDENTITY BRANDING BAR -----------------------  */
#identity{
	background-color: #7d110c;
	width: auto;
	height: 67px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	z-index: 1;
	}
#identity .wordmark{
	height: 67px;
	margin: 0 auto;
	width: auto;
	overflow: hidden;
	overflow-x:hidden;
	}
#identity .wordmark a{
	display: block;
	width: 287px;
	height: 43px;
	margin-top: 20px;
	background-image:url(../images/cas_sprite.png);
	background-repeat: no-repeat;
	background-position: top left;
	/* NEW */
	background-position: 0 0;
	background-size: 287px 44px;
	background-size: 100%;
	}
/* --------------------------- BACKGROUND ELEMENTS --------------------------- */
#outerWrapper{
	margin: 0 auto;
	background-color: #EEEEEE;
	padding: 20px 0 0 0;
	background-color: #DED8BF;
	width: auto;
	}
#outerWrapper #innerWrapper{
	margin: 0 auto;
	padding: 0;
	background-color: white;
	text-align: center;
	}
#outerWrapper #innerWrapper h1{
	margin: 0 auto;
	text-align: center;
	color: #3c372d;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: normal;
	}
#outerWrapper #innerWrapper #content{
	margin: 20px 0 0 0;
	font-size: 115%;
	text-align: center;
	}
/* --------------------------- FORM ELEMENTS --------------------------- */
#outerWrapper #innerWrapper #content span.secondary{
	font-size: 0.9em;
	color: #666666;
	}
#outerWrapper #innerWrapper #content #input{
	margin: 0 auto;
	margin-top: 12px;
	}
#outerWrapper #innerWrapper #content #input #usernamefield,
#outerWrapper #innerWrapper #content #input #passphrasefield{
	width: 290px;
	padding: 4px 0 4px 0;
	margin: 0 auto;
	margin-top: 3px;
	}
#outerWrapper #innerWrapper #content #input #usernamefield .otpfield{
	width: 115px;
	}
#outerWrapper #innerWrapper #content #input .userpass{
	width: 290px;
	padding: 3px;
	}
#outerWrapper #innerWrapper #content #input .otp{
	width: 100px;
	}
#outerWrapper #innerWrapper #content #help-text{
	font-size: 0.80em;
	margin: 8px 0 0 0;
	}
#outerWrapper #innerWrapper #content #btnLogin{
	margin: 0 auto;
	margin-top: 15px;
	}
.btn {
	border: 1px solid #999;
	padding: 6px 50px 6px 50px;
	font-size:1.1em;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	overflow: hidden;
	text-decoration:none;
	color: #fff;
	-webkit-appearance:button;
	font-family: Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	border: solid 1px #231f20;
	background: #9D1E1A;
	/* BUTTON GRADIENT */
	background: -webkit-gradient(linear, left top, left bottom, from(#CB2C25), to(#731211));
	background: -moz-linear-gradient(top,  #CB2C25,  #731211);
	/*NEW*/
	text-shadow: 0px 1px 3px #121212;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-transform: none;
	font-size:1.4em;
	padding: 2px 50px 4px 50px;
	font-weight: normal;
	}
.btn:focus{
	background: -webkit-gradient(linear, left top, left bottom, from(#a2231d), to(#50110f));
	background: -moz-linear-gradient(top,  #a2231d,  #50110f);
	outline: none;
	}
.btn:hover{
	cursor: pointer;
	background: -webkit-gradient(linear, left top, left bottom, from(#e6352d), to(#731211));
	background: -moz-linear-gradient(top,  #e6352d,  #731211);
	}
.btn:active{
	background: #7b1714;
	background: -webkit-gradient(linear, left top, left bottom, from(#671613), to(#a2231d));
	background: -moz-linear-gradient(top,  #671613,  #a2231d);
	outline: none;
	}
.response{
	border: 1px solid #FFE222;
	background-color: #FFFBE2;
	padding: 2px;
	text-align: center;
	z-index: 1;
	margin: 8px 20px 8px 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 0.9em;
	color: black;
	}
.responseError{
	border: 1px solid #990000;
	background-color: #FFEBE8;
	padding: 2px;
	text-align: center;
	z-index: 1;
	font-weight: bold;
	margin: 15px 20px 15px 20px;
	font-size: 0.9em;
	}
#outerWrapper #innerWrapper #content #text p.warning{
	text-transform:uppercase;
	font-style:italic;
	font-weight: bold;
	}
/* --------------------------- BULLETED LIST --------------------------- */
#outerWrapper #innerWrapper #content #text{
	margin: 0 auto;
	}
#outerWrapper #innerWrapper #content #text ul{
	text-align: left;
	list-style-type:square;
	}
#outerWrapper #innerWrapper #content #text ol{
	margin-left: 80px;
	}
#outerWrapper #innerWrapper #content #text ol,
#outerWrapper #innerWrapper #content #text ol li{
	text-align: left;
	list-style-type: none;
	list-style: none;
	font-size: 1.1em;
	}
/* --------------------------- FOOTER ELEMENTS --------------------------- */
#footer {
	text-align: center;
	margin: 0 auto;
	}
#footer hr {
	display: none;
	}
#footer #copyright {
	text-align: left;
	}
#footer #copyright a {
	color: #7D110C;
	text-decoration: none;
	}
#footer #copyright a:hover {
	text-decoration: underline;
	}
#footer #copyright #blockiu {
	width: 22px;
	height: 28px;
	float: left;
	}
#footer #copyright #blockiu a {
	display: block;
	width: 23px;
	height: 26px;
	background-image:url(../images/cas_sprite.png);
	background-repeat: no-repeat;
	background-position: bottom left;
	}
#footer #copyright #blockiu a img {
	display: none;
	}
#footer #copyright #statement {
	margin: 0 0 0 30px;
	font-size: 85%;
	line-height: 250%;
	}
#footer #copyright #statement p{
	display: inline;
	}
#outerWrapper #innerWrapper #content fieldset,
#outerWrapper #innerWrapper #content fieldset legend{
	border: none;
	border-top: solid 1px #fff;
	position: relative;
	white-space: normal;
	max-width: 450px;
	text-align: center;
	padding: 0;
	margin: 0 auto;
	}
#outerWrapper #innerWrapper #content fieldset legend{
	position: relative;
	width: 450px;
	padding-bottom: 15px;
	border-bottom: solid 1px #999;
	}
}
/* --------------------------- ELEMENTS SEEN IN A STANDARD WEB BROWSER --------------------------- */
@media screen {
body{
	/* IE5.x uses this */
	font-size: x-small;
	/* IE5.x is confused by this */
	voice-family: "\"}\"";
  	voice-family: inherit;
	/* Modern browsers use this */
  	font-size: small;
	}
#identity{
	min-width: 540px;
	background-color: #DED8BF;
	height: 90px;
	}
#identity .wordmark{
	width: 540px;
	}
#bg{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	height: 430px;
	width: 100%;
	min-width: 560px;
	background-color: #7D1416;
	}
	#bg #title{
		width: auto;
		position: absolute;
		top: 50px;
		height: 50px;
		min-width: 100%;
		z-index: 10;
		}
#outerWrapper{
	width: 520px;
	min-height: 434px;
	padding: 10px 0 10px 0;
	position: relative;
	top: 40px;
		-moz-box-shadow: rgba(32, 32, 32, 0.4) 0px 0px 15px;
		-webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 15px;
		box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 15px;
	}
#outerWrapper #innerWrapper{
	margin: 0 auto;
	padding: 0 10px 10px 10px;
	width: 480px;
	min-height: 434px;
	background-color: white;
	text-align: center;
	}
#outerWrapper #innerWrapper h1{
	font-size: 2.0em;
	width: 420px;
	margin: 0 auto;
	margin-bottom: 20px;
	padding: 35px 0 20px 0;
	border-bottom: solid 1px #d1cec3;
	font-family: "PT Sans", "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: normal;
	}
#outerWrapper #innerWrapper #content #input #usernamefield,
#outerWrapper #innerWrapper #content #input #passphrasefield{
	text-align: left;
	padding: 4px 0 4px 0;
	font-size: 0.95em;
	}
#outerWrapper #innerWrapper #content #input #usernamefield.otpfield,
#outerWrapper #innerWrapper #content #input #passphrasefield.otpfield {
	width: 115px;
	}
#outerWrapper #innerWrapper #content #input .userpass,
#outerWrapper #innerWrapper #content #input .otp{
	margin: 0;
	border: solid 4px #DED8BF;
	font-size: 1.025em;
	display: block;
	/* NEW */
	-moz-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	-webkit-transition: border-color  0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	-o-transition: border-color  0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	-ms-transition: border-color  0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	transition: border-color  0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	/*
	outline: solid 1px #FFF;
	-moz-transition: outline-color 0.25s ease;
	-webkit-transition: outline-color 0.25s ease;
	-o-transition: outline-color 0.25s ease;
	-ms-transition: outline-color 0.25s ease;
	transition: outline-color 0.25s ease;
	*/
	}
#outerWrapper #innerWrapper #content #input .userpass:active,
#outerWrapper #innerWrapper #content #input .otp:active,
#outerWrapper #innerWrapper #content #input .userpass:focus,
#outerWrapper #innerWrapper #content #input .otp:focus {
	border-color: #bfb698;
	/* NEW */
	-moz-box-shadow: #aea688 0px 0px 5px;
	-webkit-box-shadow: #aea688 0px 0px 5px;
	box-shadow: #aea688 0px 0px 5px;
	-moz-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	-webkit-transition: border-color  0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	-o-transition: border-color  0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	-ms-transition: border-color  0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	transition: border-color  0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	outline: none;
	/*
	outline-color: #8f8974;
	outline-width: 1px;
	outline-style: solid;
	outline-offset: 0px;
	-moz-transition: outline-color 0.25s ease;
	-webkit-transition: outline-color 0.25s ease;
	-o-transition: outline-color 0.25s ease;
	-ms-transition: outline-color 0.25s ease;
	transition: outline-color 0.25s ease;
	*/
	}
#outerWrapper #innerWrapper #content #input .otp{
	width: 90px;
	}
#outerWrapper #innerWrapper #content #text{
	margin-top: 50px;
	width: 450px;
	text-align: center;
	font-size: 0.85em;
	}
#outerWrapper #innerWrapper #content #text ul li,
#outerWrapper #innerWrapper #content #text ol li{
	margin-bottom: 20px;
	}
#outerWrapper #innerWrapper #content #text ol#swInstructions{
	margin-top: 6px;
	margin-bottom: 15px;
	}
#outerWrapper #innerWrapper #content #text ol#swInstructions li{
	margin: auto;
	font-size: 0.85em;
	}
#footer {
	width: 530px;
	position: relative;
	top: 68px;
	}
}
/* iPhone/smart phones */
@media screen and (max-device-width: 480px){
body{
	font-size: 100%;
	-webkit-text-size-adjust:none;
	}
#bg{
	display: none;
	width: 0;
	height: 0;
	}
#identity{
	width: auto;
	min-width:inherit;
	height: 36px;
	border-bottom: solid 1px #7d110c;
	}
#identity .wordmark{
	margin-left: 0;
	width: auto;
	}
#identity .wordmark a{
	display: block;
	width: 175px;
	height: 26px;
	margin-top: 5px;
	margin-left: 3px;
	background-image:url(../images/cas_mob.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	background-size: 200px 26px;
	}
#outerWrapper #innerWrapper, #outerWrapper #innerWrapper #content #text{
	margin: 0;
	padding: 0 3px 0 8px;
	}
#outerWrapper{
	min-height: 0;
	-moz-box-shadow: rgba(0, 0, 0, 0) 0 0 0;
	-webkit-box-shadow: rgba(0, 0, 0, 0) 0 0 0;
	box-shadow: rgba(0,0,0,0) 0 0 0;
	}
#outerWrapper #innerWrapper #content{
	margin-bottom: 0;
	padding-bottom: 0;
	}
#outerWrapper #innerWrapper{
	height: inherit;
	width: auto;
	width: 95%;
	min-height: 0;
	}
#outerWrapper #innerWrapper h1{
	background: none;
	width: auto;
	margin: 8px 0 5px 0;
	padding: 0;
	font-size: 1.3em;
	border: none;
	min-height: 0;
	text-rendering: optimizeLegibility;
	}
#outerWrapper #innerWrapper h1 span{
	display: block;
	}
#outerWrapper #innerWrapper #content #input{
	width: auto;
	}
#outerWrapper #innerWrapper #content #input #usernamefield,
#outerWrapper #innerWrapper #content #input #passphrasefield{
	text-align: center;
	margin: 0 auto;
	}
#outerWrapper #innerWrapper #content #input .userpass{
	font-size: 120%;
	width: 80%;
	margin: 0 auto;
	}
#outerWrapper #innerWrapper #content #input #usernamefield #response{
	font-size: 120%;
	width: 40%;
	}
#outerWrapper, #footer{
	width: auto;
	margin: 0;
	padding: 0 0 0 3px;
	border: none;
	top: 0;
	background: none;
	height: inherit;
	}
#footer {
	border-top: solid 1px #dadada;
	padding-top: 10px;
	padding-bottom: 8px;
	}
#footer #copyright #blockiu a {
	background-image:url(../images/cas_mob.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: 199px 26px;
	}
#footer #copyright #statement {
	font-size: 80%;
	line-height: 150%;
	}
#outerWrapper #innerWrapper #content #text{
	margin: 0;
	padding: 0;
	width: auto;
	}
#outerWrapper #innerWrapper #content #text ul li#sec{
	display: none;
	}
}
/* iPad */
@media only screen and (min-device-width: 768px){
#identity .wordmark a{
	background-image:url(../images/cas_sprite_2x.png);
	background-repeat: no-repeat;
	}
#footer #copyright #blockiu a {
	background-image:url(../images/cas_mob.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: 199px 26px;
	}
@media handheld {
#identity{
	width: auto;
	}
#identity .wordmark{
	margin-left: 5px;
	width: 171px;
	}
#outerWrapper #innerWrapper #content{
	margin-bottom: 0;
	padding-bottom: 0;
	}
#outerWrapper, #outerWrapper #innerWrapper{
	border: none;
	background: none;
	min-height: 0;
	}
#outerWrapper #innerWrapper h1 span{
	font-size: 150%;
	margin: auto;
	padding: 5px 0 5px 0;
	width: 90%;
	}
#outerWrapper #innerWrapper #content #input{
	text-align: center;
	margin: 0 auto;
	}
#outerWrapper #innerWrapper #content #input #username,
#outerWrapper #innerWrapper #content #input #passphrase{
	width: 80%;
	display: block;
	margin: auto;
	}
#outerWrapper #innerWrapper #content #text ul li#sec{
	display: none;
	}
#footer {
	border-top: solid 1px #dadada;
	padding-top: 10px;
	margin: 0 0 0 5px;
	}
}