@import url('/library/skin/default/tool.css');

body {
	font-family:  Arial, "Helvetica Neue", "HelveticaNeue", Helvetica, "Lucida Grande", sans-serif;
}

hr.itemSeparator{
	border-color: #7D110C;
}

a:link{
	color: #7D120C;
}

a:visited{
	color: #7D120C;
}

a:hover,a:active{
	color: #AF2824;
}

a:focus{
	color: #AF2824;
}

.listHier th a:link,.listHier th a:visited{
	color: #7D120C;
}

.listHier th a:hover{
	color: #AF2824;
}

.specialLink a:link,.specialLink a:visited{
	color: #7D120C;
}

.specialLink a:hover{
	color: #AF2824;
}

.itemAction  a,.itemAction  a:link{
	color: #7D120C;
}

.itemAction  a:visited{
	color: #7D120C;
}

.itemAction  a:hover{
	color: #AF2824; /*for ie*/
}

html>body .itemAction  a:hover{
	color: #AF2824;
	border-bottom: 1px solid #AF2824;
}

.navIntraTool a:visited{
	color: #7D120C;
}

.navIntraTool a:hover{
	color: #AF2824;
}

.navIntraTool a:active{
	color: #AF2824;
}

.navIntraTool span.inactive {
	margin-right:1em;
	white-space: nowrap;
	display:inline-block
}

.breadCrumb a:link,.breadCrumb a:visited{
	color: #7D120C;
}

.breadCrumb a:hover{
	color: #AF2824;
}

table.calendar{
	background-color: #F0EFEE;
}

table.calendar th{
	background-color: #F0EFEE;
}

.bgActivity{
	background-color: #F0EFEE;
	border: 1px solid #7D110C
}

.borderGrayBackground{
	background-color: #F0EFEE;
}

.borderGrayTodayBgCenter{
	background-color: #F0EFEE;
}

.borderOnlyLeftDay{
	background-color: #F0EFEE;
}

.borderTodayWithActivity{
	background-color: #F0EFEE;
}

.borderTopLeft{
	background-color: #F0EFEE;
}

.borderWhiteYear{
	background-color: #F0EFEE;
}

table.calendar .event{
	background-color: #F0EFEE;
}

.listHier th{
	border: none;
	border-bottom: #828282 solid 1px;
}

table.lines tr:hover{
	background-color: #F0EFEE;
}

tr.selectedCopy{
	background: #F0EFEE;
}

tr.lightHighLightRow{
	background:#F0EFEE;
}

tr#selectedReorder{
	background: #ccc;
}

tr#selectedReorder:hover{
	background: #ccc !important;
}

h2,h6{
	color: #000;
}

h3,h4,h5{
	color: #000;
}

.actionitem{
	background-color: #F0EFEE;
}

.navIntraToolLink input.enabled{
	color: #7D120C;
	border-bottom: 1px solid #7D120C;
}

.navIntraToolLink input.enabled:hover{
	color:#AF2824;
}

.infoPanel{
	border: 1px solid #7D110C;
}

.infoPanelHead{
	border: 1px solid #7D110C;
	background: #7D110C;
	color: #F0EFEE;
}

.hierItemBlock h4.textPanelHeader, .hierItemBlock h5.textPanelHeader, .hierItemBlock h6.textPanelHeader{
	background: #F0EFEE !important;
}

.portletTitle .title h2{
	color: #000;
}

.presenceList{
	font-size: .85em;
	padding-top: 0.6em;
	font-weight: bold;
}

.presenceBody {
	background-color: #000000;
	color: #FFFFFF;
}

.presenceList li.inChat {
	background: url(images/presence-chat.png) -.1em center no-repeat;
}

.loginform label{
	olor: #000;
}

.login td.logo {
   background:#FFFFFF url(images/logo_inst_login.gif) no-repeat scroll center;
   width:11em;
}


tr.external {
	background-color: #F3F6F6 !important;
}

.act .active {
	color:#7D110C;
}

